@import url("https://db.onlinewebfonts.com/c/3231c6a7b3ba5a66dd21bfc6b461165e?family=YekanBakh-Heavy");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Marhey&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Pacifico&display=swap');

@font-face {
    font-family: 'shabnam';
    src: url('../fonts/Shabnam.ttf') format("truetype");
}

:root {
    --green-background-: #489854;
    --grey-background-: #F4F4F4;
    --white-background-: ghostwhite;
    --order-button-color-: #D90007;
    --order-button-radius-: 12px;
    --bg-color-: white;
    --front-color-: #f5f5f5;
    --dark-bg-color-: #111827;
    --dark-front-clr--: #0b1d35;
    --line-color-: darkgrey;
    --font-color-: #0b1d35;
    --shadow-color-: #11182776;
    --box-shadow-inset-button: inset 0 2px 7px -9px rgba(255, 255, 255, .5),
        inset 0 1px 2px -1px rgba(255, 255, 255, 1),
        inset 0 -20px 16px -32px rgba(96, 68, 144, .3),
        inset 0 28px 25px -24px rgba(202, 172, 255, .3),
        inset 0 1px 4px rgba(154, 146, 210, .3),
        inset 0 1px 10px rgba(227, 222, 255, .2);
    --filter-blur: blur(100px);
    --neon-color-: #f5f5f5;
    --neon-font-color: #0b1d35cc;
    /* --neon-color-: rgba(80, 131, 232, 0.547); */
    --neon-shadow-: 0 0 4px #0b1d35cc,
        0 0 11px #0b1d35cc,
        0 0 19px #0b1d35cc,
        0 0 40px #f5f5f5,
        0 0 80px #f5f5f5,
        0 0 90px #f5f5f5,
        0 0 100px #f5f5f5,
        0 0 150px #f5f5f5;


}

:root [theme=dark] {
    --bg-color-: #111827;
    --front-color-: #0b1d35;
    --font-color-: ghostwhite;
    --neon-font-color-: ghostwhite;
    --shadow-color-: #f5f5f570;
    --neon-color-: #0b1d35;
    --neon-shadow-: 0 0 4px ghostwhite,
        0 0 11px ghostwhite,
        0 0 19px ghostwhite,
        0 0 40px #0b1d35,
        0 0 80px #0b1d35,
        0 0 90px #0b1d35,
        0 0 100px #0b1d35,
        0 0 150px #0b1d35;
}

body.body#body {
    background-color: var(--bg-color-);
    width: 100%;
    height: 100vh;
    font-family: "YekanBakh-Heavy";
    position: relative;
    color: var(--font-color-);
    transition: all 0.3s;
    position: relative;
    font-family: 'shabnam';
}



.menu-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-mode {
    width: 100%;
    height: 100%;
    position: relative;
}

.them-containe {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    left: 5px;
    background-color: #f5f5f5;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.them-containe img {
    width: 100%;
    height: 100%;
}

.them-containe img.light {
    display: none;
}

.them-containe img.dark {
    display: block;
}

.them-containe.dark img.dark {
    display: none;
}

.them-containe.dark img.light {
    display: block;
    color: wheat;
}

/*preloader*/

.preload {
    /* background-color: #111827; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

@keyframes ldio-eopbhvtcszn {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-eopbhvtcszn div {
    left: 37.43px;
    top: 16.745px;
    position: absolute;
    animation: ldio-eopbhvtcszn linear 1s infinite;
    background: #591224;
    width: 122.14px;
    height: 9.85px;
    border-radius: 61.07px / 4.925px;
    transform-origin: 61.07px 81.755px;
}

.ldio-eopbhvtcszn div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9285714285714286s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(2) {
    transform: rotate(25.714285714285715deg);
    animation-delay: -0.8571428571428571s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(3) {
    transform: rotate(51.42857142857143deg);
    animation-delay: -0.7857142857142857s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(4) {
    transform: rotate(77.14285714285714deg);
    animation-delay: -0.7142857142857143s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(5) {
    transform: rotate(102.85714285714286deg);
    animation-delay: -0.6428571428571429s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(6) {
    transform: rotate(128.57142857142858deg);
    animation-delay: -0.5714285714285714s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(7) {
    transform: rotate(154.28571428571428deg);
    animation-delay: -0.5s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(8) {
    transform: rotate(180deg);
    animation-delay: -0.42857142857142855s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(9) {
    transform: rotate(205.71428571428572deg);
    animation-delay: -0.35714285714285715s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(10) {
    transform: rotate(231.42857142857142deg);
    animation-delay: -0.2857142857142857s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(11) {
    transform: rotate(257.14285714285717deg);
    animation-delay: -0.21428571428571427s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(12) {
    transform: rotate(282.85714285714283deg);
    animation-delay: -0.14285714285714285s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(13) {
    transform: rotate(308.57142857142856deg);
    animation-delay: -0.07142857142857142s;
    background: #591224;
}

.ldio-eopbhvtcszn div:nth-child(14) {
    transform: rotate(334.2857142857143deg);
    animation-delay: 0s;
    background: #591224;
}

.loadingio-spinner-spinner-55gz0g8ky3g {
    width: 197px;
    height: 197px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-eopbhvtcszn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-eopbhvtcszn div {
    box-sizing: content-box;
}

/*navbar*/
.nav#navbar {
    width: 95%;
    height: 10vh;
    /* background: var(--bg-color-); */
    background-color: var(--bg-color-);
    border-radius: 2rem 0 2.5rem 0rem;
    margin-top: 10px;
    margin-inline: auto;
    padding-top: 0;
    box-shadow: 0.5px 0.5px 10px var(--shadow-color-);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--font-color-);

}

.nav#navbar .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline-end: 0.5rem;
    margin: auto 0.5rem;
}

.menu-li {
    list-style: none;
    margin-inline: 5px;
    position: relative;
}

.menu-li::after {
    content: '';
    transition: all 0.5s;
    background: var(--font-color-);
    width: 0;
    height: 2px;
    border-radius: 1rem;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.menu-li:hover::after {
    width: 100%;
}

.menu-link {
    color: inherit;
    text-decoration: none;
    font-size: 1.3em;
}

.brand-name {
    margin-inline: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
}

#mobile-menu {
    font-size: 1.2em;
}

#mobile-menu .menu-li {
    margin-block: 0.5rem;
    padding: 1rem;
}

#close-menu {
    font-size: 2em;
    margin-top: 5rem;
    cursor: pointer;
}

#menu-icon {
    font-size: 1.5em;
    margin: 0.5rem;
}

i {
    cursor: pointer;
}

/*header*/

.header {
    width: 90%;
    height: 15vh;
    margin-bottom: 3rem;
    margin: 1rem auto;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 1rem;

}

.header-title {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 0.05rem var(--font-color-);
    color: transparent;
    font-family: 'Bhaijaan';
    height: 49%;
    animation: flicker 1.5s infinite alternate;
}

.header-subtitle {
    height: 49%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--font-color-);
    width: 100%;
    text-align: center;
    font-family: 'Playfair';
    display: inline-block;
}


.categori-container {
    width: 100%;
    margin-top: 2rem;
    color: black;
}

.categori-card {
    background-color: var(--grey-background-);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    padding: 0 6px;
    transition: all 1s;
    text-align: center;
}

.categori-card:hover,
.categori-card.active {
    background: var(--green-background-);
}


.categori-icon {
    /* width: 50%; */
    /* height: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.categori-icon img {
    width: 70px;
    height: auto;
    background-color: rgba(248, 248, 255, 0.903);
    padding: 5px 0 0;
    border-radius: 50%;
    box-sizing: initial;
}

.categori-name {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .5rem;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    float: right;
    animation: backInRight;
    animation-duration: 1s;
    height: 100%;
    width: 40%;
}

.swiper {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}

.swiper-wrapper {
    width: 20%;
}

.menu-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-block: 3rem;
}

.menu-list,
.menu-list .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list-container .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    direction: rtl;
    width: 24%;
    height: auto;
    padding: 5px;
    margin-block: 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background-color: var(--front-color-);
    box-shadow: 3px 5px 10px var(--front-color);
    overflow: hidden;
    transition: background .2s;
}



.img-name,
.price-order {
    width: 100%;
    height: 50%;
}

.img-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 60%;
    width: 100%;
}

.item-img,
.item-name {
    width: 50%;
    height: 100%;
}

.item-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.item-img img {
    border-radius: 50%;
    padding: 1px;
    width: 90%;
    height: 90%;

}

.item-name {
    width: 55%;
    height: 50%;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}

.product-caption {}

.price-order {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row-reverse;
}

.item-order {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 0%;
}

.order-btn {
    padding: 0px 8px;
    width: 88px;
    height: 34px;
    border: none;
    outline: none;
    background-color: var(--order-button-color-);
    border-radius: var(--order-button-radius-);
    color: ghostwhite;
    font-size: 20px;
    font-weight: 500;
    align-self: self-end;
    margin-top: 10px;
}

.old-price {
    text-decoration: line-through;
}

.new-price {
    align-self: flex-end;
}

.product-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.product-caption {
    font-size: 14px;
    align-self: flex-start;
    border-bottom: 1px solid var(--line-color-);
    padding-bottom: 5px;
    align-self: flex-end;
}

.menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-line {
    flex: 1;
    justify-content: baseline;
    align-items: center;
    height: 2px;
    background-color: var(--line-color-);
    /* margin: 0 50px; */
    border-radius: 20%;
}

.left-line {
    margin-left: 50px;
    margin-right: 10px;
}

.right-line {
    margin-right: 50px;
    margin-left: 10px;
}

/*footer*/
.footer {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    background: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
    color: ghostwhite;
    background-color: var(--bg-color-);
    position: absolute;
    bottom: 0.001;
    left: 0;
    right: 0;
    transition: 0.3s;
}

.footer_header,
.footer_body,
.footer_footer {
    display: flex;
    width: 100%;
    margin-block: 0;
}

.footer_header,
.footer_body {
    height: 40%;
}

.footer_body {
    justify-content: space-between;
    align-items: center;
    /* margin-inline: 20px; */
}

.footer_footer {
    height: 10%;
    font-size: 0.7em;
    justify-content: space-between;
    margin-inline: 5px;
}

.footer_logo {
    width: 50%;
    height: 100%;
    margin-inline: 1rem;
}

.footer_logo img {
    width: 100%;
    height: 100%;
}

.footer_adress {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
}

.adress {
    text-align: right;
    direction: rtl;
}

.footer_number {
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    background-color: #0b1d35;
    padding: 20px;
    border-radius: 1rem;
}

.footer_number span {
    margin-inline-start: 15px;
}

a.instagram-link {
    color: rgb(79, 0, 128);
    font-size: 1.5em;
    margin-inline-end: 1rem;
    border-left: 1px solid ghostwhite;
    padding-inline: 20px;
}

.footer a {
    color: ghostwhite;
    text-transform: uppercase;
}

/*responsive*/
@media screen and (max-width: 400px) {
    .categori-card {
        width: 65%;
    }

    .categori-icon img {
        width: 100%;
        height: auto;
    }

    .nav#navbar {
        display: none;
    }

    #mobile-nav {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .menu-list-container .menu-item {
        width: 95%;
        margin-inline: 5px;
    }

    .categori-container {
        width: 100%;
        height: auto;
    }

    .categori-card {
        width: 88%;
        height: 100%;
        margin-inline: 2px;
    }

    .nav#navbar {
        display: none;
    }

    #mobile-nav {
        display: none;
    }
}

@media screen and (min-width: 560px) and (max-width:990px) {
    .menu-list-container .menu-item {
        width: 47%;
        margin-inline: 5px;
    }

    .categori-container {
        width: 70%;
        height: auto;
    }

    .categori-card {
        width: 60%;
    }

    .nav#navbar {
        display: none;
    }

    #mobile-nav {
        display: none;
    }
}

@media screen and (min-width : 990px) and (max-width:1200px) {
    .menu-list-container .menu-item {
        width: 24%;
        height: 40%;
        margin-inline: 7px;
    }

    .categori-container {
        width: 60%;
        height: auto;
    }

    .categori-card {
        width: 60%;
        height: 100%;
    }

    .header {
        width: 60%;
    }

    .nav#navbar {
        display: flex;
    }

    #close-menu {
        display: none;
    }

    #menu-icon {
        display: none;
    }

    .footer_logo img {
        width: 50%;
        height: auto;
    }
}

@media screen and (min-width:1200px) {
    .menu-list-container .menu-item {
        width: 24%;
        height: 60%
    }

    .categori-card {
        width: 40%;
    }

    .categori-container {
        width: 65%;
    }

    .header {
        width: 55%;
    }

    .nav#navbar {
        display: flex;
    }

    #close-menu {
        display: none;
    }

    #menu-icon {
        display: none;
    }

    .footer_logo img {
        width: 50%;
        height: 100%;
    }

}


/*animation*/
.animated {

    animation: showAnime forwards ease-in;
    opacity: 0;
    transition: all 0.5;
}

@keyframes showAnime {

    30% {
        transform: translateX(0) translateY(0) rotate(0);
        opacity: 0.5;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0) translateY(0) rotate(0);
        opacity: 1;

    }
}

@keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow: var(--neon-shadow-)
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}