{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Home</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Welcome to The API</h1>
    </header>

    <main>
      <p>Your API is up and running!</p>
      <img
        src="{% static 'core/almas.jpg' %}"
        alt="logo Image"
        width="850"
        height="550"
      />
    </main>

    <footer>
      <p>&copy; 2024 Complex Almas</p>
    </footer>
  </body>
</html>
